.hackathon__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.2vw;
    flex: 1 0 0;
}

.headline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.hackathon{
    display: flex;
    align-items: center;
    padding: 5vw;
}

.hackathon__headline h2{
    display: flex;
    flex: 1 0 0;
    margin: 0;
    font-family: 'Space Mono';
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    color: white;
    background: linear-gradient(to right, rgba(191,244,166,1), rgba(255,229,152,1), rgba(254,169,129,1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.hackathon__headline h4{
    display: flex;
    margin: 0;
    flex-direction: column;
    font-family: 'DM Sans';
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    color: white;
    background: linear-gradient(to right, rgba(191,244,166,1), rgba(255,229,152,1), rgba(254,169,129,1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.hackathon__text{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--light, #FFF);
    font-family: DM Sans;
    font-size: 2.2vw;
    font-style: normal;
    font-weight: 700;
    line-height: 3.2vw;
}

.greycards{
    display: flex;
    align-items: flex-start;
    gap: 2vw;
    align-self: stretch;
}

.right{
    width: 33%;
}

.left{
    width: 33%;
}

.right__img, .left__img{
    width: 95%;
}